@model ProdutosModel
@{
	ViewData["Title"] = "Apagar";
}

<div class="text-center">
	<h3 class="display-4">Tem certeza de que quer apagar?</h3>
	<br />
	<p>Deseja apagar o produto: @Model.Produto?</p>
	<br />
	<a class="btn btn-danger" asp-controller="GestaoProdutos" asp-route="@Model.Id" asp-action="ExcluirProduto" role="button">Apagar</a>
	<a class="btn btn-primary" asp-controller="GestaoProdutos" asp-action="Index" role="button">Voltar</a>


</div>
<br />