@{
	ViewData["Title"] = "Criar Produtos";
}

<div class="text-center">
	<h1 class="display-4">Criar Produtos</h1>
</div>
<br />

<form asp-controller="GestaoProdutos" asp-action="Criar" method="post">
    <div class="form-group">
        <label for="SKU">SKU</label>
        <input type="text" class="form-control" placeholder="Insira o SKU do produto">
    </div>
    <div class="form-group">
        <label for="Produto">Produto</label>
        <input type="text" class="form-control" placeholder="Insira o nome do produto">
    </div>
    <div class="form-group">
        <label for="Descricao">Descrição</label>
        <input type="text" class="form-control" placeholder="Insira a descrição do produto">
    </div>
    <div class="form-group">
        <label for="Categoria">Categoria</label>
        <input type="text" class="form-control" placeholder="Insira o categoria do produto">
    </div>
    <div class="form-group">
        <label for="Fornecedor">Fornecedor</label>
        <input type="text" class="form-control" placeholder="Insira o fornecedor do produto">
    </div>

    <div class="form-group">
        <label for="Quantidade">Quantidade</label>
        <input type="text" class="form-control" placeholder="Insira a categoria do produto">
    </div>
    <div class="form-group">
        <label for="Preco">Preço unitário</label>
        <input type="text" class="form-control" placeholder="Insira o preço do produto">
    </div>

    <br />
    <button type="submit" class="btn btn-secondary">Guardar</button>
    <a class="btn btn-primary" asp-controller="GestaoProdutos" asp-action="Index" role="button">Voltar</a>
    
</form>