@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Projeto do Curso de ASP.NET Core MVC da EISnt!</h1>
    <p>Saiba mais <a href="https://learn.microsoft.com/aspnet/core">sobre como construir aplicações Web com ASP.NET Core</a>.</p>
</div>
